[2016-12-16 09:35] MDziwny opened #4 "A phrase with empty quotes breaks the es query builder"
[code]

[2017-01-24 16:54] ahivert opened #5 "Support for 'missing' and 'exists' filters"
Take note that missing is deprecated in 2.2.0

[2017-02-01 14:12] ahivert opened #6 "Yacc warnings with ply 3.10"
We have these warning messages when we start the django shell with the 3.10 ply version
[code]

[2017-02-01 14:15] ahivert commented on #6
e36b0fe

[2017-02-01 15:22] alexgarel commented on #6
If you changed the PLY version you may need to regenerate parsetab.py (eg. by running the test) and commit it in the repository.

[2017-05-29 08:40] #4 closed

[2017-08-07 09:36] erlichmen opened #9 "Support implicit OR operation"
The following should be a valid lucene syntax:
[code]
it should equivalent to:
[code]
But I get UnknowOperation instead of OrOperation when parsing the string.

[2017-08-08 14:08] erlichmen opened #10 "Parse issue on field_42:42"
When calling parser.parse on "field_42:42" the parse will not break it into search field and term.
It will parse the entire string as a single word.

The root cause of this is the TERM regex:
(?P<term>[^\s:^,\"'+~\-\(\)\[\]\{\}]([^\s:^~\(\)\[\]\{\}]|(?<=\d{2}):\d{2}(:\d{2})?)*)
which can't break the string into groups.

[2017-08-11 22:10] alexgarel commented on #9
hello, sorry I'm on vacation, mainly AFK.

As a first short answer, the choice of OR or AND as the implicit operator is a choice than can be made later (see eg the default_operator argument in [Query String Query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html) and in `luqum.elasticsearch.visitor.ElasticsearchQueryBuilder.__init__`).

That's why t

[2017-08-11 22:27] alexgarel commented on #10
Hello @erlichmen sorry I'm actually mostly AFK. If you want to submit a pull request, it will be welcome. Otherwise I'll look into this at the end of the month.

[2017-08-21 15:13] alexgarel commented on #9
Hello @erlichmen, can you get a look at https://github.com/jurismarches/luqum/pull/12 and tell me if this solutions seems ok to you.

[2017-08-21 16:08] alexgarel commented on #6
I have upgraded ply to version 3.10 in PR #13

[2017-08-21 16:08] #6 closed

[2017-08-23 10:30] synweap15 opened #15 "Multi-level nesting fields problem"
Hello!

First of all I'd like to thank the authors of this amazing library for all the effort - this library really helps when it comes to querying nested fields with ES' Query String Query.

I've found some issue concerning the parser when it comes to parsing multi-level nested fields (nested fields within nested fields).

Here's my definition of `ElasticsearchQueryBuilder`:

[code]
The query loo

[2017-08-23 10:57] synweap15 commented on #15
Figured it out - obviously I made a mistake taking some assumptions concerning Lucene syntax for nested fields. Did some reading and the query should be formulated as follows: `study_units:(country:(name:italy))` - works like a charm!

[2017-08-23 11:57] ahivert commented on #15
You could write the query like this `study_units:country:name:italy` too :)

[2017-08-23 12:27] synweap15 commented on #15
Right, thanks @ahivert!

Another question: I have defined a few fields as `Object` types instead of `Nested`, so they can be searched without explicitly specifying fields. The problem is that when I search using eg. `country.name:Italy` (not nested, just flattened, looks correct in Kibana), it's still treated as nested by Luqum - and then depending whether it was defined in `nested_fields` or not,

[2017-08-23 12:50] alexgarel commented on #15
Hi @synweap15, indeed we did not have `Object` in mind when we decide to deal with nested field. Could you file a new ticket, possibly with expected behaviour ?

For now I close this ticket.

[2017-08-23 12:50] #15 closed

[2017-08-23 12:56] synweap15 commented on #15
Sure, I'll open a new issue. Thanks!

[2017-08-23 14:37] synweap15 opened #16 "ElasticsearchQueryBuilder - support for Objects"
Hello!

As mentioned in #15, I'd like to propose a solution for handling elasticsearch-dsl's `Object` fields (or ES objects in general). During the flattening of nested objects in Elasticsearch, fields in form of:

[code]
are transformed into a flat structure, as can be seen here: [link](https://db.tt/ibHuGPIEfQ)

Due to the fact, that here: https://github.com/jurismarches/luqum/blob/a8002c293ebc5

[2017-08-23 15:01] synweap15 commented on #16
Okay, now I see that some other modifications are needed to make this work for Nested within Object :)

[2017-08-23 16:06] alexgarel commented on #16
I think it would be to support `.` as well as `:` both for nested fields as well as for (sub) `Object`.  The philosophy should be that you explicitly design nested fields thanks to the `nested_fields`, the rest should be considered object fields.

In this I agree with you that the current `_is_nested` method is wrong.

That said, I don't know when I will be able to look at it (maybe next week?) bu

[2017-08-23 16:26] synweap15 commented on #16
Okay, so basically `.` was introduced just to be an alternative to `:` without any special additional, special meaning?

For my dirty approach to work, I also had to alter the `_create_nested` method, so finally the class looks like this:

[code]

Another thing is that in the nested fields definitions have to be altered to have `.` in them. Apart from that, I think everything works.

[2017-09-05 15:20] alexgarel commented on #9
@erlichmen did you look into it ? Without any response within two weeks I'll close this ticket. Thanks.

[2017-09-07 18:13] alexgarel commented on #16
Hello @synweap15, commit 8738b65505c7da6622a2f785ecc0e8bdc57331ad should bring the functionality.

I think I will release a new version after adding a utility to deduce the query builder parameters from the elasticsearch schema (because it's starting to be complex).

It was a big rework in order to be able to manage object field in nested field and any combinations thereof. (It required me some in

[2017-09-07 19:25] synweap15 commented on #16
Hey @alexgarel!

I was a little busy with other things lately, have been using the hack I've shown above with success. Going to check your solution next week and report if any problems popped up.

Thanks!

[2017-09-12 15:00] erlichmen commented on #9
@alexgarel Works for me!.

[2017-09-12 15:00] #9 closed

[2017-12-04 16:04] alexgarel commented on #16
@synweap15, time passing, I will close this issue. Feels free to re-open it if you're not happy with the current solution!

[2017-12-04 16:04] #16 closed

[2017-12-04 16:17] synweap15 commented on #16
It's still on my todo, but other things keep popping up - will look when I have a chance. Thank you!

[2017-12-29 12:58] NicolaiSoeborg opened #20 "Missing CHANGELOG.rst in release"
It seems like you forgot to include `CHANGELOG.rst` in the newest release, which means https://github.com/jurismarches/luqum/blob/master/setup.py#L9 will fail and the package can't be installed.

[code]

[2018-01-03 15:00] alexgarel commented on #20
Hi, thanks for the report, I'll look into this right now.

[2018-01-03 15:14] #20 closed

[2018-01-03 15:23] alexgarel commented on #20
It's released as 0.6.1. I removed the 0.6.0 source file from pypi to avoid problems.

[2018-02-25 06:57] raviv opened #21 "Querying python dictionaries"
Hi,

Anyone knows a module for applying lucene-DSL query on a python dictionary?
Something like an in-memory Elastic implementation in python

Thanks.

[2018-03-06 14:05] alexgarel commented on #21
Sorry @raviv but I don't know anything like that.

[2018-03-06 14:05] #21 closed

[2018-03-20 13:54] alexgarel opened #22 "Add an integration test"
It would be great to make a sample database, load it in elastic and then try the different feature against it.

This could help verify which versions of ES we are compatible with.

[2018-05-01 00:58] ramyala opened #23 "zero_terms_query appended to match_phrase query"
There is a regression since 0.7.x where `zero_terms_query: none` is being appended to generated query for `match_phrase`

For query `some_id: hello-world`

`0.6.1` generated `{'match_phrase': {'some_id': {'query': hello-world'}}}`
`0.7.1` generated `{'match_phrase': {'participant_id': {'query': 'LB-S00133', 'zero_terms_query': 'none'}}}`

Note that the 0.7.1 query fails on elasticsearch `5.6.8` wi

[2018-05-02 08:56] alexgarel commented on #23
Thanks for the report, I will try to look into this this week.

[2018-05-02 17:30] alexgarel commented on #23
@ramyala 95cd9d97722a38ae3abdbd90610dd4e3f515302a should fix it.

I wait for your validation before closing.

Also I will study how to setup an integration test against elasticsearch (would be cool).

[2018-05-02 20:57] ramyala commented on #23
The issue still persists based on quotes/spaces in the query:

[code]

Note, only the first query was fixed with your changes.

[2018-05-03 16:59] ramyala commented on #23
One of the differences here is the newer version of luqun produces match vs. match_phrase for the query `some_id:ABC-123`. The zero_terms_query doesn't seem right either for match.

[2018-05-03 18:08] alexgarel commented on #23
@ramyala, this is indeed a change, but it should normally give same results (for what I can anticipate). I introduced it to be more consistent (but you can now force the request type, by adding `field_options={"some_id": {"type": "match_phrase"}}` to ElasticsearchQueryBuilder).

Could you test the query results against your server ? IMO they will be the same with match_phrase and match for a singl

[2018-05-04 19:09] ramyala commented on #23
On git master, I've noticed different results because of missing `type: 'phrase'` kv in the map.

master generates:
[code]

Whereas 0.6.1 generates:

[code]

[2018-05-04 19:11] ramyala commented on #23
I think its worth deprecating 0.7.x because of the numerous regressions from 0.6.1. These are the only queries I've tried but there could be more which we are missing.

[2018-05-07 13:33] alexgarel commented on #23
hello @ramyala, thanks for the clear report. It seems I've done some wrong assumptions.

So as you suggest, I will try to turn back, someway to old behaviour (that is using match_phrase) and release a 7.3, while removing 7.2 files from pypi (and signal it is deprecated in CHANGELOG).

I would be quite interested yet in digging what is the difference between a match and a match_phrase query , when

[2018-05-07 15:31] alexgarel commented on #23
I have dug a bit and the difference comes from the fact that ABC-123, when analyzed, maybe treated as "ABC 123" (eg. by the [compound word delimiter token filter](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-word-delimiter-tokenfilter.html)) which gives different results in case of `match` (matching one term is sufficient) and `match_phrase`.

That said, if you use `{qu

[2018-05-08 00:07] ramyala commented on #23
hi @alexgarel

I have been looking at this and your analysis explains this behavior perfectly. The fix would actually have to be on our end to either change the analysis filter or use `keyword` tokenizer to index words with hyphens in them.

So, I'm ok with the current behavior of the fixes in master and adding a way to force the query builder to output match_phrase if need be.

[2018-05-09 14:27] alexgarel commented on #23
@ramyala I made a new commit.

I wait for your eventual validation before releasing on pypi.

[2018-05-14 15:10] alexgarel commented on #23
0.7.2 released.

[2018-05-14 15:10] #23 closed

[2018-06-12 13:26] aglassdarkly opened #24 "add escaping"
The parser doesn't handle escaped characters.

See: https://lucene.apache.org/core/3_6_0/queryparsersyntax.html#Escaping%20Special%20Characters

[2018-06-12 16:21] alexgarel commented on #24
Thanks for the report, I will try to look into this soon.

[2018-06-13 09:44] michaelkuty opened #25 "LICENSE"
Hi, we have problem when we searching for license for this project we found License: GNU Lesser General Public License v3 or later (LGPLv3+) on https://pypi.org/project/luqum/ but in this repository we see GNU General Public License v3.0

please which is correct ? however we recommend using LGPL because GPL is not suitable for most of companies

[2018-06-13 09:59] alexgarel commented on #25
Hello @michaelkuty this is indeed LGPL.
I will correct that very soon !

[2018-06-13 10:01] michaelkuty commented on #25
Thanks !

[2018-06-13 10:03] alexgarel commented on #25
Fixed.

[2018-06-13 10:03] #25 closed

[2018-06-13 14:03] aglassdarkly commented on #24
We're using the luqum parser to help transform a subset of Lucene syntax into SQL. Other than the lack of escape handling, it has been really useful. Thanks!

[2018-06-13 15:01] alexgarel commented on #24
@aglassdarkly it should work now on master.

Could you check that it matches your use case ?

[2018-06-13 16:30] aglassdarkly commented on #24
Thanks for getting to this so quickly!

The parser is breaking on (){}[] and :

Will unescaping be left to the user?

[2018-06-13 17:11] alexgarel commented on #24
Pushed a fix, can you check ?

[2018-06-13 17:40] aglassdarkly commented on #24
Works beautifully!

[2018-06-13 18:33] aglassdarkly commented on #24
I found a small issue. Wildcard expressions can't be differentiated from a word where the wildcard character was escaped.  Thus, id:\*something\* looks like id:*something* after parsing. However, they may need to be treated differently. The escaped version is just a normal string that includes a * but the unescaped version signifies a wildcard search.

[2018-06-14 07:39] alexgarel commented on #24
good catch @aglassdarkly, so is it for ? I suppose.

[2018-06-14 07:44] alexgarel commented on #24
@aglassdarkly maybe escape char removal that I did is a bad idea, and we should keep'em, I see that on the elasticsearch side, match does not have problem with them.

How is it on your side, is it better if we keep the '\' in the value ? (I would however method to remove them easily)

[2018-06-15 02:12] aglassdarkly commented on #24
I think leaving the escape chars in and adding a method to remove them is the best approach. This would allow differentiation between a wildcard expression (unescaped wildcard char) and a a normal word (escaped wildcard char), allowing me to generate appropriate SQL.

[2018-06-18 11:10] alexgarel commented on #24
@aglassdarkly new commit to check 7e7a73e084f099b44226066dcdf33f5a3989aed7

* no escape in value, but an `unescaped_value` property for Term
* better handling of wildcards with a `wildcards_iter` method on `Term` (I thought it would be useful to you)

I have verified that ElasticSearch (at least in 2.3) supports keeping escaped chars in `match` and `match_phrase` query. That means I don't have to

[2018-06-21 14:53] aglassdarkly commented on #24
Thanks for the updates. I think this is a good approach.

I didn't find wildcards_iter() useful in my specific case. Here is what I ended up doing:
[code]
Adding a split_wildcards() method would avoid my using the regex directly and might be useful for others with similar use cases.

[2018-06-21 20:04] alexgarel commented on #24
Hi @aglassdarkly, thanks, I will look into this next week.

[2018-06-28 14:35] aglassdarkly commented on #24
Looks good. Thanks working with me on this.

[2018-06-28 14:35] #24 closed

[2018-07-10 09:46] shyam81295 opened #26 "Support for human-readable queries"
It would be great if words like `now`, `now-5h`, `now-1h` can be used in dates, without being treated as simple string.

Parsing `date : [now-1h TO now]` would add more meaning to luqum. These human-readable queries are supported in Elasticsearch. [See here Common options](https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html)

P.S. When I checked, this feature was no

[2018-07-10 10:44] alexgarel commented on #26
Hello @shyam81295,

This is a good idea to support it. We should also consider supporting the original Lucene format (where ["now" is "NOW"](https://lucene.apache.org/solr/4_4_0/solr-core/org/apache/solr/schema/DateField.html)).

Right now this won't be on our priority list, but you can contribute a PR, including tests.

[2018-07-16 22:34] jlarkin-auro opened #27 "Which Elasticsearch version(s) do you support?"
Hello, I am having a problem executing a simple query.

I am running Elasticsearch 6.2.2 locally. From a clean installed base, I do

[code]

I can then run:

```GET /accounts/_search?q=name:john```

which returns a proper result. I cannot reproduce this result with `luqum` however. I am trying:

[code]

[code]

[code]

[code]

This search returns the following stack trace:

[code]

Please advise o

[2018-07-19 17:47] alexgarel commented on #27
Hello @jlarkin-auro, can you try

[code]

[2018-07-19 17:48] alexgarel commented on #27
BTW, we do not know precisely which ES version we support right now ! We would have to do integration test for that (see #22)

[2018-07-24 14:12] fabiopedrosa opened #28 "Escape & invalid syntax"
I was under the impression luqum would be able to catch syntax issues, but is that not the case?

[code]

just prints:

[code]

which is not accepted syntax for ES.

[2018-07-24 14:15] fabiopedrosa opened #29 "Python 2"
Unfortunately, we are stuck in Py2, and lurum is only compatible with Python. The only thing making it incompatible is the `yield from` usage, which is very very easy to convert into supported syntax. Would that be welcomed as a PR?

[2018-07-24 15:20] alexgarel commented on #29
Yes I would welcome a PR if all tests passes (add the python 2.7 environment in travis.yml).

[2018-08-24 15:43] fritzb opened #30 "IPV6 parsing failure"
Latest ES6 support Ipv6. When I tried the following query, Luqum is unable to parse properly.

srcIp: 1::1

or

srcIp: 1\:\:1

Any suggestion?

[2018-08-25 12:59] alexgarel commented on #30
Hi,

short answer: You have to put ipv6 addresses in quotes.

Luqum tries to follow queryString syntax (and provides you with tools to extend its meaning). I have done a quick experiment ([see the gist](https://gist.github.com/alexgarel/92440caec4232c5ad51c569c2d0f465b)) and in ES6 you'll have to quote ipv6, or use backslash to escape columns in it. So that's way luqum will go. (also it would clut

[2018-08-25 13:00] alexgarel commented on #27
hi @jlarkin-auro I would happy to know if my advice helped you (in this case I will rename ticket and close it).

[2018-08-27 20:26] fritzb commented on #30
@alexgarel  Could you try the following:

SearchField('srcIp', SearchField('1000\\', SearchField('1000\\', SearchField('1000\\', Word('1000')))))

[2018-08-27 21:33] alexgarel commented on #30
@fritzb I think this is a valid case indeed for escaping is supposed to work !

[2018-08-27 21:37] fritzb commented on #30
Another test case would be IPV6 with subnet, 1000:1000::1/24

[2018-08-28 11:29] alexgarel commented on #30
I added two test and did not reproduce the behaviour, see : a32bd037f9776e076745c64dc98aa6b3f2b993bc

In fact in your comment above, if you want use a single `\`, you should use the `r` prefix to your strings. See raw string here https://docs.python.org/3.7/tutorial/introduction.html#strings

that is you should have written:

    SearchField('srcIp', Word('1000\\:1000\\:1000\\:1000'))

or without

[2018-08-28 11:29] #30 closed

[2018-08-28 15:37] fritzb commented on #30
@alexgarel Looks like raw string escaped the '\', as a result the string got modified:

[code]

[2018-08-28 15:49] fritzb commented on #30
Let me try to pass that string to ES

[2018-08-28 16:09] alexgarel commented on #30
Released !

[2018-08-28 16:13] alexgarel commented on #30
@fritzb

This is what the `r` marker is for ! But when python displays `'\\'` this really means the presence of only one `\` in the string (but it escapes it, to mean it's not an escaped character !).

Think that `'\n'` means a *newline character*, while `r'\n'` means an `\` followed by a `n` which can also be written `'\\n'`

[2018-08-30 12:29] paulo-serrao opened #31 "Regexp Operator Support"
Any plans to add support for the regexp search operator ("/")?

Example from ElasticSearch documentation:
name: /joh?n(ath[oa]n)/

https://www.elastic.co/guide/en/elasticsearch/reference/6.4/query-dsl-query-string-query.html#_regular_expressions

[2018-08-30 15:44] alexgarel commented on #31
Yes, this is in the todo list.

PR with tests are always welcome ;-)

But I may get a look on this in september/october.

[2018-09-12 17:48] paulo-serrao opened #32 "Is it possible to manipulate a parsed tree to add elements?"
I see on the documentation that we can manipulate the parsed tree in order to change the value of a field or expression. But is it possible to manipulate the tree in order to also append an extra element?

Example, manipulate:

dog: "Max" AND color: "brown"

into:

(name:"Max" AND animal:"dog") AND color: "brown"

I can already convert "dog" into "name" by using the LuceneTreeTransformer example o

[2018-10-24 08:39] sefaYavuz opened #33 "Support for "multi-fields" in ES transform"
Just a question: Is the `keyword` datatype supported?

[2018-10-24 08:58] alexgarel commented on #33
Yes it is supported.

Look at [ElasticsearchQueryBuilder](https://luqum.readthedocs.io/en/latest/api.html#luqum.elasticsearch.visitor.ElasticsearchQueryBuilder) there are options to specify the field that are not analyzed (that is are of type keywords).

Those parameters can be deduced from your mapping using [SchemaAnalyzer](https://luqum.readthedocs.io/en/latest/api.html#luqum.elasticsearch.sche

[2018-10-24 09:02] alexgarel commented on #32
hi @paulo-serrao sorry for your request was forgotten.

Of course you can do what you want. The pattern of LuceneTreeTransformer is not very good, we may revise it in the future. But for time beeing, you can either :

* return a new OrOperation/AndOperation with the nodes you creates inside
* manipulate the parent that you receive (but beware of infinite recursion, you have to find a way to know y

[2018-10-24 09:03] alexgarel commented on #32
I close the issue, also because it's old. Feel free to reopen if needed.

[2018-10-24 09:03] #32 closed

[2018-10-24 09:04] alexgarel commented on #29
No PR at the moment, so I close it.

[2018-10-24 09:04] #29 closed

[2018-10-24 09:05] alexgarel commented on #29
Note : if some one want to propose a PR, please discuss first, for this seems very late to add all the burden of Python2 compat, while Python2 is at the end of its life.

[2018-10-24 11:38] sefaYavuz commented on #33
Thanks for your reply!

However I can't get it to work. With the following (partially) mapping for a single field:

[code]

As you can see I'm using a text field which is also a keyword. And fail in getting it working with the following search query: `attributes.first_name.raw:<search_query>`

[2018-10-24 11:52] alexgarel commented on #33
Hum I don't think the schema analyzer support "fields" right now, nor the ElasticsearchQueryBuilder

This could be a good addition of course. I think it's like having an object_field, but relaxing a bit to enable calling it directly (and of course this as to be separate to be more understandable).

I may look into this, but I can't promise to have it quickly. If you are interested in making a PR i

[2018-10-25 16:18] alexgarel commented on #33
@sefaYavuz, if you use None for object_fields parameter of ElasticsearchQueryBuilder it should work !

[2018-10-25 17:30] alexgarel commented on #5
Exists, is already supported:

[code]

[2018-10-25 17:30] #5 closed

[2018-10-25 17:31] #27 closed

[2018-10-25 17:41] alexgarel commented on #28
Just a wrap up, looking more closely.

The first problem is the column after http, which makes http being interpreted like a field you want to search in. This is perfectly normal, and we can't correct that.

The second, is that we ignore single and double quotes if they are in the middle of an expression, this is maybe where we are too liberal.

However for now I close. You can eventually reopen @

[2018-10-25 17:41] #28 closed

[2018-10-25 17:48] alexgarel commented on #33
@sefaYavuz I just pushed a commit fixing this problem.

You now have a sub_fields parameter on ElasticSearchQueryBuilder.

Could you test if it's ok on your side. If so, I would make a release.

[2018-10-29 11:53] sefaYavuz commented on #33
@alexgarel Works as expected! When will you be able to make it into a release?

[2018-10-29 17:15] alexgarel commented on #33
@sefaYavuz released : https://pypi.org/project/luqum/0.7.5/

[2018-10-29 17:15] #33 closed

[2018-11-13 18:11] seandavi opened #35 "Behavior of bare text in ElasticsearchQueryBuilder"
I have a pretty naive user community that likes simple plain-text search, but I also want to support power users with nested, field-based queries. When I have a query like:

[code]

The query translation after ElasticsearchQueryBuilder results in:

[code]

I'd like to simulate the behavior of the query_string with `cancer` to match against all available fields (not just a single field, as above).

[2018-11-13 21:07] alexgarel commented on #35
'text' is the default field, you can change it using the default_field parameter of [ElasticsearchQueryBuilder](https://luqum.readthedocs.io/en/latest/api.html#luqum.elasticsearch.visitor.ElasticsearchQueryBuilder).

You could use `_all` for example : https://www.elastic.co/guide/en/elasticsearch/reference/6.2/mapping-fields.html#_indexing_meta_fields. Or you may have a text field indeed, that at

[2018-11-14 02:45] seandavi commented on #35
Thanks, @alexgarel, for pointing me in the right direction. Luqum is crazy-nice to work with! Here is a stab at something that appears to work for me (edge cases to be found, yet, of course).

[code]

I chose to put a `Group` around the `OrOperation` to avoid the AndOr on the same level error.

[2018-11-14 02:46] #35 closed

[2018-11-20 15:39] seandavi opened #36 "Question on behavior of SchemaAnalyzer"
I have a double-nested schema given here:

https://gist.github.com/seandavi/528e98e943b24a7ef365fbf1e937f5ba

It seems that the top-level path is dropped by some methods of the `SchemaAnalyzer` when I use this schema.

[code]

And the output of methods:

[code]
In this schema, then, the problem arises from the fact that the nested field names (without the parent) are repeated. This results in too

[2018-11-29 15:39] alexgarel commented on #36
Hi @seandavi sorry, I was on vacation !

I hope you figured out yourself maybe ! The argument you pass to schema analayzer is not good ! Having only `doc` is ok, but what you pass is not a valid mapping.
the SchemaAnalyzer does not check for validity of the mapping and end up with weird results, where the "properties" of your nested fields are taken as if they where properties of document definiti

[2018-11-29 15:39] #36 closed

[2018-11-29 15:46] seandavi commented on #36
Thanks, @alexgarel!

[2019-02-06 12:16] AlfonsoMolina opened #38 "Avoid a endless loop on LuceneTreeTransformer"
In the case that the returned node is the initial one plus something (like going from "foo" to "foo OR oof") the class do not stop visiting the new nodes, and since the first one is not removed it keeps triggering the transformation.

A solution could be to analyze only the initial query and not the new ones that have been added.

[2019-02-06 14:20] alexgarel commented on #38
hello @AlfonsoMolina,

Our current implementation is not good indeed. It tries to transform in place and its not good practice, it should construct a new tree instead… I have some ideas on how to do this, but no final though. I think the [boltons remap](https://boltons.readthedocs.io/en/latest/iterutils.html#boltons.iterutils.remap) could be a source of inspiration.

[2019-02-07 13:16] alexgarel commented on #38
@AlfonsoMolina I forgot to mention that you can circumvent the bug by putting an attribute on the added node, and verifying the presence of this attribute in your method.

[code]

Something like that (maybe the attribute should be put on the children.

This is not a good fix, but it can help mitigate the problem.

[2019-02-07 15:38] AlfonsoMolina commented on #38
Hi! For now, I made a workaround using the first search for just selecting the nodes that I am interested in and then looping through them and replacing them. It is also not pretty, but for my implementation it seems to work. If something fails again I will try your idea, thanks!

[2019-02-07 16:29] alexgarel commented on #38
In the meantime we can keep this ticket open because it would be useful to provide a better alternative than the actual implementation.

[2019-02-18 15:06] alexgarel commented on #22
#37 does this.

Kudos @tBrognoli

[2019-02-18 15:06] #22 closed

[2019-03-03 13:24] seandavi opened #39 "Question: treating untagged words or phrases as "full text search" across all fields"
Luqum is working great for me and my test users, but one thing that the test users miss is the behavior of query_string to do a full-text search across all fields when no field is specified (eg., "`London`") . I see the ability to specify a default fields, but this results in a simple `match` query. I guess I am looking to convert these to `multi-match` with all available text fields? Any suggesti

[2019-03-04 10:04] alexgarel commented on #39
Hi @seandavi

You're right this is not a supported scenario, but it is an interesting one.

Two solutions:

* you modify your luqum search tree (using a TreeTransformer) before giving it to the elasticsearch query builder, to multiply the SearchField node and use a OR to join them.
* you take courage and you modify the query builder so that if you pass a *list* as default_field, it builds a multi-

[2019-03-04 13:28] seandavi commented on #39
For the time being, I'm going the cheap route and specifying `_all` as the default field for the `match` query for now. Users seem happy with the basic `query_string` behavior which appears to pretty much use the `_all` approach.

If I have a little time, I may play with the `multi-match` approach. If I get into trouble, I'll let you know.

[2019-08-06 15:22] Peter92 opened #42 "Setting OR operation to only work on adjacent values without needing brackets"
Short version is I would like to parse `a b OR c d` as `a AND (b OR c) AND d`.

Long version: I'm attempting to simplify the syntax a little before I integrate this into my code, as it's supposed to be an easy to use search with optional advanced features. I gave up coding it myself and found this library which seems nice.

I'd like it to work like Google where things are "AND" by default, but by

[2019-08-06 16:13] alexgarel commented on #42
Hello @Peter92.

I'm not sure of what you are trying to do. Should your request become an elasticsearch request, or do you just want to get the parsing tree ?

However changing operator precedence seems the right thing to do in your case.

To change OR to AND for implicit operator, you can use the `default_operator` parameter in `ElasticsearchQueryBuilder`.

If come back with some code, and the er

[2019-08-06 16:49] Peter92 commented on #42
Ah thanks, I'm just using the tree as I'm combining this with `SQLAlchemy`, I figured it'd be easier to recursively iterate over the children and build up the query. I'm just wanting the tree to build itself a little differently, so that an OR operator will only apply to the two closest values.

Quick example again similar to above, but with the tree:

    #output: OrOperation(Word('a'), AndOperat

[2019-08-06 17:40] alexgarel commented on #42
No, the implicit operation resolves to `UnknownOperation`.

[code]

So you can either :

- keep it and decide what to do with it when you make it a SQL query
- transform the tree to make it an AND operation (see `utils.py` also implementation of TreeTransformer is not the best)..

And thanks for the small bug report !

[2019-08-06 19:41] Peter92 commented on #42
It was a slightly incomplete example as I was calling `UnknownOperationResolver(AndOperator)(tree)`, ignoring that though haha, the tree result I would like then is this:

    UnknownOperation(OrOperation(Word('a'), Word('b')), Word('c'), Word('d')))

By default, `a OR b c d` is being parsed as `a OR (b c d)`, but I would like it parsed as `(a OR b) c d`.

[2019-08-06 20:01] Peter92 commented on #42
Actually I think I just got it working. Moving the `('left', 'OR_OP',)` line to the bottom of `luqum.parser.precedence` seems to have done what I wanted, from very light testing it doesn't seem to have broken anything.

I know it's not a common use case, but perhaps it'd be quite nice if there was some option to modify the order without editing the source code.

[2019-08-06 21:01] alexgarel commented on #42
You can do this in your own file:

[code]
This outputs:
`a OR b c d is UnknownOperation(OrOperation(Word('a'), Word('b')), Word('c'), Word('d'))`

NB: you can't do it in REPL because yacc.yacc() needs to load the file.

PS: indeed, putting or_op in second position does not work if you use implicit operator, but would work if operations where AND. this is because, it as to be considered after the "

[2019-08-06 21:01] #42 closed

[2019-08-07 15:34] Peter92 commented on #42
Got it working perfectly with `SQLAlchemy` now, thanks a bunch for coding this.

I just have a final quick question so I'll ask here instead of opening a new issue.

Would it be possible modify the parsing to allow empty search terms, so that `"description: name:"` for example will return something like `UnknownOperation(SearchField('description', None), SearchField('name': None))`?

I tried editi

[2019-08-07 16:28] alexgarel commented on #42
In current grammar, foo:bar:(test) is valid and interpreted as `SearchField('spam', SearchField('foo', Word('bar')))`  (this permits complex nested or object search).

So to support what you want, you would have to rewrite a good part of the grammar.

"TERM COLUMN unary_expression" rule should not stand any-more, as you want to put restrictions on the right part (it can't be a search). So now you

[2019-08-09 13:21] Peter92 commented on #42
Ah thanks for the suggestions, I didn't realise it'd be quite a big tweak.

I couldn't get the gammar edits to work (I'm running a bit blind with ply and don't really understand what counts as valid syntax for it), however based your regex idea, I've got it working by just checking the string for any occurance of `: ` that isn't contained in speech marks, and adding in a null marker.

Other than f

[2019-10-23 17:17] feng-tao opened #43 "dual license?"
We have a project which uses apache2 license. We would like to leverage this library but license is incompatible(https://apache.org/legal/resolved.html). Is it possible to do duel license for the project?

[2019-10-23 19:23] alexgarel commented on #43
Hello @feng-tao, yes it is. Please, provide a PR, as I am travelling right now and do not have the time to do it carefully.

[2019-10-24 19:12] feng-tao commented on #43
does https://github.com/jurismarches/luqum/pull/44 work? I couldn't find license header inside the code. Also not an expect on license side.

[2019-10-24 20:31] alexgarel commented on #43
see e0920cbb0673ddf783846be6d410659a87047fce

[2019-10-24 20:31] #43 closed

[2019-10-24 20:32] feng-tao commented on #43
thanks @alexgarel for the quick merge. Could we push a new pypi version which includes the new license?

Exciting to adopt this library.

[2019-11-01 12:08] alexgarel commented on #43
@feng-tao release done today !

[2019-11-09 01:46] seandavi commented on #39
I know it has been a while on this one. I noticed a per-field version of `multi_match` was recently implemented. I'd like to revisit the idea of `multi_match` on a set of default fields for bare words. I like your idea of converting to multi_match when default_field is a list. Could you give me some hints on where to focus if I want to implement? No urgency, but I thought I would ask.

[2019-11-09 01:58] seandavi commented on #39
Just leaving a note here that to do this right would involve bare `Word()` and `Phrase()`, the latter requiring a different multi_match type.

[2019-11-09 02:17] seandavi commented on #39
After a little playing with `luqum.utils.LuceneTreeTransformer`, this seems to do what I need. Note that multi_match is roughly translated to a bunch of OR queries across single-field `match`. The same is true of multi_match with phrases, except that `match_phrase`

[code]

And, to use:

[code]

[2020-01-09 20:06] ztawil opened #45 "Question: Is it possible to allow `minimum_should_match` on all OR operations?"
Is it possible to force having a `minimum_should_match` value on any `bool` values when an `OR` operation is present?

Currently I have something like:
[code]
And the query yields:
[code]

Whereas I'd like it to be:
[code]

But perhaps I'm doing something wrong?

[2020-02-02 17:26] edmcdonagh opened #46 "Docs haven't been built for more than a year"
Install instruction refers to cookiecutter, and comes from here: d0bf7d78a29eee0cbfc324

[2020-02-02 17:27] edmcdonagh commented on #46
https://luqum.readthedocs.io/en/latest/install.html

[2020-02-02 21:48] alexgarel commented on #46
Wow good catch. Thanks !

I had to launch a build by clicking in readthedocs. (Also I remove/recreate the tags, because they where not seen by readthedocs). I though it was automatic ! I connected my account to readthedocs, hope it will help !

I have also added a config file to see if this can helps.

[2020-02-02 21:48] #46 closed

[2020-02-03 11:02] Peter92 opened #47 "Remove the SEPARATOR token?"
I don't know much about `yacc`, but I've been putting up with this warning each time I use `luqum` (I presume you already know it):

    WARNING: Token 'SEPARATOR' defined, but not used
    WARNING: There is 1 unused token

According to [this stackoverflow question](https://stackoverflow.com/questions/36707118/python-and-ply-how-to-get-rid-of-token-xxx-defined-but-not-used), the guy with a similar

[2020-02-04 08:08] alexgarel commented on #47
Hi @Peter92 this is a good Idea. I may handle that later, but PR is always welcome :-)

[2020-02-09 20:20] #47 closed

[2020-04-24 11:23] Peter92 opened #49 "SearchField.name with spaces"
Luqum is mostly working perfectly for me, but I've just hit a bit of a snag. I have a double `SearchField` to perform a more advanced query, but I've just realised it won't work with spaces.

    SearchField('field', SearchField('value1', Phrase('"value 2"')))

    luqum.parser.ParseError: Syntax error in input at LexToken(COLUMN,':',1,24)!

Is this a limitation of `yacc` or is there a way I could

[2020-04-24 13:50] alexgarel commented on #49
Hi @Peter92.

Not having spaces in search field names is not a limitation of PLY, but a limitation of the parser as it is defined right now.

I think it's better for luqum to stick to the Lucene Query Language definition, which does not permits spaces in field names, (afaik). Or is that permitted by Elastic Search ? In wich case we may change luqum behaviour.

However, what you can do is write you

[2020-04-28 16:57] Peter92 commented on #49
Thanks for the help, the syntax is definitely the weirdest I've seen in Python.

I used `phrase_or_term` which I assume you meant, and while it enables the use of speech marks, it comes up with a syntax error if anything is after the search term, such as `"a:b OR c"` saying `Syntax error in input at LexToken(OR_OP,'OR',1,4)`.

[2020-04-28 18:55] Peter92 commented on #49
Actually it doesn't matter too much. Since it's only the tree generation I'm actually using, I've been messing around building a simpler parser using luqum as inspiration. It's a lot slower, but at least I can add custom things without asking you how to do it haha.

Cheers again for the help, and I'll close since the question is not technically to do with luqum.

[2020-04-28 18:55] #49 closed

[2020-04-28 22:20] alexgarel commented on #49
Ok, best wishes for your projects :-)

[2020-04-28 22:41] alexgarel commented on #49
Out of curiosity I tried and indeed PLY is tricky. So doing as I told you by importing from parser in a new file does not work because previous rule is not canceled :-/

If I replace the original expression directly in the `parser.py` file:

[code]

It works:

[code]

[2020-06-01 22:50] elyase opened #50 "inverse ElasticsearchQueryBuilder"
Hi, is there a way to go in the opposite direction, i.e.:
Elasticsearch -> Lucene Query DSL

[2020-06-01 23:11] alexgarel commented on #50
Good question :-)

Right now in Luqum there is none, and it would be difficult to do it in a general manner, as Elasticsearch query DSL is far more rich than Lucene Query DSL !

But if you have a known subset you want to translate, you could try build a tree using components in `tree.py` and then simply using `str()` on it you would have it's representation.
Use something like the visitor pattern

[2020-06-01 23:12] elyase commented on #50
great, thanks for the tips!

[2020-06-01 23:23] alexgarel commented on #50
Good luck, I close the issue, so.

[2020-06-01 23:23] #50 closed

[2020-06-23 15:59] stevesmit opened #51 "Allowing double quotes"
Thank you for the wonderful library.

I have queries that have some field expressions with double quotes. That is, something like the following:

`field_name:""expression text""`

When these are parsed, they confuse the parser as it thinks that the initial double quotes is an unknown operation and it gets treated as a Phrase.

Here is a sample query and the parsing operation in python:

[code]

He

[2020-06-23 16:30] alexgarel commented on #51
Hi @stevesmit where does this double double quote comes from ?
Is it normally supported by Lucene ? For me it's not. See https://lucene.apache.org/core/2_9_4/queryparsersyntax.html

For what I understand, the parser is right there, it's the expression you should fix.

[2020-06-23 16:33] stevesmit commented on #51
It comes from a company's proprietary query syntax which is very Lucene-like, I suppose. Fair enough - is there any way to edit the grammar specification to allow parsing such expressions? I don't mind editing a bit of source on my side.

[2020-06-23 16:44] alexgarel commented on #51
You'll have to make your own parser.py file (PLY is not very flexible on that point, see [issue 49](https://github.com/jurismarches/luqum/issues/49#issuecomment-620893166)).

You can change `PHRASE_RE` but I imagine you have to verify that you have as much `"` at the begining as in the end `"`. So you may better go duplicating most of it ! So maybe adding a `DPHRASE_RE` copying `PHRASE_RE` but wit

[2020-06-23 17:03] stevesmit commented on #51
Alright I tried that, but it unfortunately doesn't parse it (still giving the same output as before). I added the following to pieces of code to parser.py as you mentioned:

[code]

[code]

Is there any other code that needs to be edited to take account of this change?

[2020-06-23 17:31] alexgarel commented on #51
Maybe add `DPHRASE° in `precedence`, before `PHRASE` ?

[2020-06-23 17:31] alexgarel commented on #51
Also add DPHRASE in `tokens`.

[2020-06-23 17:52] stevesmit commented on #51
Alright I did that, and I got the following notice when loading the library:

[code]

Still didn't work :/

[2020-06-23 20:50] alexgarel commented on #51
Yes sorry, you have to write a rule:

[code]

[2020-06-24 13:56] stevesmit commented on #51
Alright did that, now got this warning when importing the library:

[code]

And still get the same output when parsing. Is there anywhere I need to point to this rule that I've added?

[2020-06-24 14:24] alexgarel commented on #51
Yes sorry, you should also try yourself ;-) just mimic what's done for PHRASE and report here when you're done !

So yes you have to add it there:

[code]

Also you may want to add it to `p_proximity`:

[code]

[2020-06-24 14:45] stevesmit commented on #51
Unfortunately still getting the exact same output as before after trying that.

[2020-06-24 15:55] alexgarel commented on #51
Maybe you have to change PHRASE_RE so that it does not match `""` alone ? Or at least `""` followed by some char.

So maybe
[code]

[2020-06-24 16:11] stevesmit commented on #51
@alexgarel That seems to have done the trick! Thanks very much.

[2020-06-24 16:45] #51 closed

[2020-07-13 08:29] wouterweerkamp commented on #45
Given that both `bool` (OR) queries only have `should` clauses, Elasticsearch uses a `minimum_should_match` of 1 by default. Check https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-bool-query.html#bool-min-should-match

So the expected output you gave is in practice the same as the one that is generated.

[2020-07-17 15:28] alexgarel commented on #31
https://github.com/jurismarches/luqum/pull/52 add it in the parsing tree.

What remains to do is adding support in the query transformer to ES.

[2020-07-30 13:43] Sonic0 opened #54 "missing elasticsearch-dsl dependency"
Hi everyone,
In the latest version 0.9.0, I think there is a problem with the required dependency **elasticsearch-dsl**. Installing this package by pip, the compiler shows an error due to missing dependency.
I think it's necessary to add in _requirement.txt_ and _setup.py_.

[2020-09-03 18:45] borissnd opened #56 "Unknown operation when parsing inequality field groups"
Luqum parser yields `UnknownOperation` when parsing inequality with a FieldGroup.

Equality with FieldGroup:
[code]
Inequality with FieldGroup:
[code]
Expected result:
[code]

[2020-09-04 07:40] alexgarel commented on #56
Hello @borissnd

You're right it's not supported right now. We would have to change the lexer and the grammar to support it.

Feel free to propose to make a PR with test coverage.

Sorry for, on my side I wan't be able to work on this before at least one month.

[2020-09-18 23:17] impredicative commented on #54
Any update? Why do we really need this requirement? Can this requirement somehow be avoided? It would be better to avoid it than to list it. How did this even pass CI/tests?

[2020-09-19 00:11] impredicative commented on #9
For any reader who is wondering how to use it:

[code]

[2020-09-19 23:15] impredicative opened #57 "Stop using print in code"
`print` should not be used in production code as below. It is unprofessional.

https://github.com/jurismarches/luqum/blob/55c9cdc29ffaf0ea387dfc8a0c61161f19af71b3/luqum/parser.py#L181-L184

An exception can be raised.

There isn't even a good reason to silently skip certain characters, e.g. forward slash. Why can't it be processed? It should be a valid character.

[2020-09-20 14:15] alexgarel commented on #57
Hi @impredicative you're perfectly right about that the fact that it should not be a print, in fact there is a FIXME above.

At the time it was not implemented because a way to handle errors like this was to be thought. This kind of detail is the reason why luqum is not "1.0" yet.

Please feel free to propose what to do instead of the print ! (shall we raise ?).

You're welcome to submit a new bug

[2020-09-20 14:24] alexgarel commented on #54
elasticsearch-dsl is needed only for integration test.

We should remove this. It is imported in `luqum/utils.py` but the use is in a test, so it really should be removed from there.

Hope to do this in the upcoming week.

[2020-09-20 14:27] alexgarel commented on #9
good idea to put the code here @impredicative. There is also [a reference in the doc](https://luqum.readthedocs.io/en/latest/quick_start.html#the-unknown-operation)

[2020-09-20 14:37] impredicative commented on #57
Personally I might raise an `IllegalCharacterException(InconsistentQueryException)` exception from `exceptions.py`, but the developers of this package would know better.

[2020-09-20 18:58] impredicative opened #58 "Allow forward slash in value of SearchField"
The forward slash character is currently not entirely allowed. It is dropped. I consider this character to be relevant in values of Search Fields. For a motivation, consider [GitHub code search by file location](https://docs.github.com/en/github/searching-for-information-on-github/searching-code#search-by-file-location) which uses it.

The query `foo bar:/baz` currently gets parsed as `foo bar:baz

[2020-09-22 10:50] alexgarel commented on #38
Hi @AlfonsoMolina, the master branch now contains a new "visitor.py" file with a brand pattern for the `TreeTransformer`, which propose to clone the tree while you transform it. The `clone_item` and `children` setter, implemented on tree items, are helpful for this to be easy.

You can see some example of its usage in the code (eg in `utils.py` and `auto_head_tail.py`)

[2020-09-22 10:50] #38 closed

[2020-09-22 15:50] alexgarel commented on #45
Hi @ztawil as told by @wouterweerkamp you probably don't need `minimum_should_match`. However I added some support for passing options to operations. If you need it, you should subclass `ElasticsearchQueryBuilder` and specialize `_should_operation` to pass options.

[2020-09-22 15:50] #45 closed

[2020-09-22 15:52] #57 closed

[2020-09-22 16:34] alexgarel commented on #54
Fixed by c80312ce9bbfd13bf96c2878a27dfdcaa10350c2

[2020-09-22 16:34] #54 closed

[2020-09-22 17:08] alexgarel commented on #58
Hi @impredicative, sorry but `bar:/` or `bar:/baz` is not a valid query according to ElasticSearch interpretation of LUCENE Query language.

If I try something like : `Book.search().filter("query_string", query="title:/").count()` using data defined in `test_es_integration`, I will get a:

[code]
The same stands for `title:/bar` `title:bar/baz` and so on…

Note that `/` is used to delimit regular

[2020-09-22 17:08] #58 closed

[2020-09-24 13:43] velykanov opened #61 "Bug in base operation"
Hey guys!

I'd like to know is there any reason spaces were removed from string representation? https://github.com/jurismarches/luqum/blob/48869be3903408e029f1b1532d9a16385ac462c8/luqum/tree.py#L398

Here's the code, that I'm running and facing the issue:
[code]

Previously I've had
[code]
After version `0.10.0` release I have
[code]
which brakes further code execution since syntactic is wrong

Co

[2020-09-24 14:17] velykanov commented on #61
I've found approach by using `head` and `tail` params:
[code]

I have kinda function that looks like this one:
[code]
and non-fixed `luqum` library in requirements (which is obviously my own issue) thus code failed to execute once it was deployed.

And since `visit` is deprecated it seems a lot of code to be rewritten..

[2020-09-24 14:17] #61 closed

[2020-09-24 15:29] alexgarel opened #62 "readthedocs is not updated"
https://readthedocs.org/projects/luqum/ last version is 7 monthes old !

[2020-09-24 15:32] alexgarel commented on #61
Hi @velykanov,

I know this change is disturbing.

there is an `auto_head_tail` to help you with that. See [here](https://github.com/jurismarches/luqum/blob/master/docs/source/quick_start.rst#head-and-tail)  (sorry I just saw readthedocs is not up to date :-( )

Also the LuceneTreeTransformer is deprecated but it wont be removed any time soon. Just you're encouraged to use the new pattern. See [he

[2020-09-24 17:05] velykanov commented on #61
Thank you @alexgarel
`auto_head_tail` looks like a nice solution, I'll check that out

I already changed my visits to yield values and won't use deprecated methods anyway)
Especially if new transformer is more robust!

[2020-09-26 17:03] alexgarel commented on #62
Fixed. This was an issue with github integration (maybe it changed), I had to reconfigure the webhooks, and I manually launch compilation (should work automatically next time).

I also set up an automation rule so that tags that match `\d+(.\d+)*` are considered versions to compile.

[2020-09-26 17:03] #62 closed

[2020-11-12 12:03] mesemus opened #64 "Wrong .tar.gz pypi package"
Hi Alex,

I just want to let you know that the .tar.gz file at PyPi has incorrect structure (the wheel is ok, though).

It looks like:

[code]

Thanks for your work,

Mirek

[2020-12-15 05:04] madstacks commented on #64
This seems to be causing a problem installing the package using [poetry](https://python-poetry.org/). However, using pip directly does work.

[code]

[2021-01-02 22:56] impredicative opened #65 "How are NOT and - (minus) different?"
How is `foo NOT bar` different from `foo -bar`? Should luqum process them identically? If not, why not?

[2021-01-03 16:44] alexgarel commented on #65
In the Lucene Query language minus and NOT are the same.

That said, in luqum, in the parsing trees you have two different classes for each of them (see `Not` and `Prohibit` [tree.py](https://github.com/jurismarches/luqum/blob/master/luqum/tree.py). It's just in case you care and also to be able to reconstruct the expression as it was if needed. But fundamentally there is no difference.

It would

[2021-01-03 18:36] impredicative commented on #65
Given a query, how can I convert all `Prohibit` to `Not`?

[2021-01-03 18:57] alexgarel commented on #65
You may use a TreeTransformer, see visitor.py

Something like

[code]
And use it like that:

[code]

[2021-01-03 18:57] #65 closed

[2021-01-03 22:21] impredicative commented on #65
@alexgarel In the code, you're not using `children` after assigning to it. Is this intended? If it is intended, it is convention for such unused variables to begin with a leading underscore.

[2021-01-03 22:31] impredicative commented on #65
Actually your code doesn't work at all.

Don't you think you should test your code before providing it?

[2021-01-03 23:08] alexgarel commented on #65
Hi @impredicative, sorry, but I though it was explicit that I wrote *Something like* because I had not the time to test, but I should have been more explicit.

If you change to

[code]

It **may** works (yes once again I don't have the time to test). You can take inspiration in visitor.py

Luqum is provided as is, so yes, if you wanna use it intensively you may have to be ready to read its source

[2021-01-04 03:51] impredicative commented on #65
Nope. It converts `-foo` to `NOTfoo` instead of to `NOT foo`. I have tried twice, I am tired of asking and of trying the very limited examples in the documentation. I give up, and will just stop using this package as soon as possible.

[2021-01-04 15:09] alexgarel commented on #65
All right, no problem, the goal was to help with providing luqum, if the product helps as is.

Effectively I did not forsee the problem that with "-" you have no space after operator, while you need it .

You can correct it, by adding:

[code]
(`head` and `tail` manage characters before and after expression)

You're right that we should document more about those details.

[2021-02-08 00:16] urlence opened #66 "Support Surround Query Parser"
https://lucene.apache.org/solr/guide/6_6/other-parsers.html#OtherParsers-SurroundQueryParser

Is Surround Query Parser not supported?
like this:
`3w(foo, bar)`
or
`(spot prices) 3w (gulf coast)`

[2021-02-08 10:29] alexgarel commented on #66
Sorry it is not and it's not on the roadmap.

It could be added but it should be in a sub package (to avoid confusion), with it's own package and additions to tree.py. Unfortunatley it's not easy with PLY to derive a parser from an existing one (it's still seems possible though, diving into PLY code to understand how to do it).

[2021-02-08 10:29] #66 closed

[2021-02-09 01:28] hyun97 commented on #66
Thanks for answer
Is there any way to convert surround query to lucene query?
Like this way
Surround Query -> Lucene Query -> Luqum -> ES query

[2021-02-09 01:35] urlence commented on #66
Thank you for your answer.
Then I'd want to change the surround query to lucene query, do you know any way?
Like this way:
[code]

[2021-02-09 08:03] alexgarel commented on #66
@urlence : the parser build a tree (see tree.py).

If your tree is compatible, no problem to use luqum to [transform it to es query](https://luqum.readthedocs.io/en/latest/quick_start.html#transforming-to-elastic-query).

If your tree is not compatible, there are two ways:
* either you can [transform it](https://luqum.readthedocs.io/en/latest/quick_start.html#manipulating)
* either you'll have to

[2021-02-19 05:14] kpanchal-crest opened #67 "Not able to parse certain lucene queries properly"
@jurismarches,

We have a Lucene query with the syntax like below:
`(state: "Completed" OR "Cancelled") AND (segment: "total" OR "cancelled") AND NOT (comment:"This is a sample")`

The above Lucene query expects the events having values for:

1. "state" field as "Completed" or "Cancelled",
2. "segment" field "total" OR "cancelled"
3. Comment not equal to "This is a sample"

However, the DSL query

[2021-02-19 09:28] alexgarel commented on #67
To my point of view, you misandurstand Lucene Query Language.

You should write:

[code]

[2021-02-19 09:28] #67 closed

[2021-05-19 09:34] jonsnowseven commented on #64
I am having the same problem (`FileNotFoundError: [Errno 2] No such file or directory: '..../setup.py'`).

Poetry gets a tar.gz file with the following:

[code]

Is this correct?

[2021-06-02 06:52] thune-xiaobai commented on #64
Same issue on mac, run `poetry add luqum` will add version `0.11.0.linux-x86_64`.

I don't know it's a poetry issue or luqum issue.

btw, use `poetry add luqum=0.11.0` can bypass it.

[2021-06-23 09:44] dadokkio opened #68 "match doesn't return results if default_field is '*'"
Hello,
I've a strange behavior with full text search.

The parser converts search to something like:

`{"query": {"match": {"*": {"query": "test", "zero_terms_query": "none"}}}}`

That does not return any result.

Adding a trailing '*' the query is instead converted in this one:

`{"query": {"query_string": {"query": "test*", "default_field": "*", "analyze_wildcard": true, "allow_leading_wildcard"

[2021-07-05 16:17] thpica commented on #68
Using a `multi_match` for the `*` field seems to work for me.

[code]

[2021-07-06 12:45] dadokkio commented on #68
It was easy :) .. I was trying to follow this issue https://github.com/jurismarches/luqum/issues/39 and I was getting partials results but this is way better.
Thanks

[2021-07-06 12:45] #68 closed

[2021-07-13 13:36] thpica commented on #39
Using a `multi_match` for the `*` field seems to work for me.

[code]

[2021-08-05 20:56] isra17 commented on #50
@alexgarel  I am looking to build something similar, is there any interest for a PR in Luqum?

[2021-08-08 13:14] alexgarel commented on #50
@isra17, as I told in my post above, it is interesting if you have a known subset of ES query DSL that you can translate into Lucene.

If you do something general enough, eg. that can translate any ES query generated by luqum back into Lucene (or nearly any, or a superset), yes it could be a good proposal. If it's pluggable to generalize, it would be even more interesting.

[2021-09-16 10:53] ygavenchuk opened #69 "Parser fails with 'TypeError' on invalid query "~]""
There's a query from pair of symbols which breaks the error handling of the parser, so we can't get relevant information about the syntax error.

**How to reproduce**:

[code]

**Expected result**: `ParseSyntaxError`
**Actual result**: `TypeError: __str__ returned non-string (type NoneType)`

**Possible fix**:

Update the `TokenValue.__str__` [method](https://github.com/jurismarches/luqum/blob/mas

[2021-09-16 13:36] ygavenchuk opened #70 "Parser fails with 'TypeError' on invalid query "a^""
During parsing an invalid query like `a^` the parser fails with `TypeError: conversion from NoneType to Decimal is not supported`

<pre>
Traceback (most recent call last):
  File "scratches/scratch1.py", line 12, in <module>
    qb = parser.parse('a^')
  File "lib/python3.8/site-packages/ply/yacc.py", line 333, in parse
    return self.parseopt_notrack(input, lexer, debug, tracking, tokenfunc)
  F

[2021-09-17 20:39] alexgarel commented on #69
Hello @ygavenchuk, that's a good idea.

[2021-09-17 20:40] alexgarel commented on #70
It's true that the parser is not doing all the checks it could be doing, and  that's kind of a tedious work to do ! But we can at least fix this.

[2021-09-20 07:52] ygavenchuk commented on #69
No problem

[2022-03-31 07:48] guozizi opened #72 "Parsing error in multithreading"
[code]

raise error:
luqum.exceptions.ParseSyntaxError: Syntax error in input : unexpected end of expression (maybe due to unmatched parenthesis) at the end!

[2022-04-01 09:13] alexgarel commented on #72
Yes, sadly error messages are not that good, but it would take a certain amount of work to have it right (PLY does not help much in that).

[2022-05-31 16:29] qcoumes opened #73 "Allow to override `E` elements"
I need to customize the behavior of some elements inside `ElasticsearchQueryBuilder`. Sadly it is not currently possible to just change these element without overriding every method to use my custom element.

Could you consider making these elements an attribute of the class so that we can override them more easily, i.e. something like :

[code]

I can make a PR if you agree with the idea.

[2022-05-31 16:48] alexgarel commented on #73
Sounds good to me @qcoumes

[2022-07-12 16:59] delkopiso commented on #69
@alexgarel could you review https://github.com/jurismarches/luqum/pull/74?

[2022-07-15 13:14] #69 closed

[2022-07-18 22:26] delkopiso commented on #69
@alexgarel will you be publishing a patch release for this fix?

[2022-07-30 08:44] alexgarel commented on #73
Resolved by @qcoumes PR #75 !

[2022-07-30 08:44] #73 closed

[2022-08-01 14:25] thierrydecker opened #77 "Visitor example"
Is there any example of a tree visitor implmentation subclassing TreeVisitor base class ?

Can't find any example in the documentation.

My first use case is a visitor returning me a list of the search fields present in a tree.

[2022-08-13 20:39] zeitderforschung opened #78 "Keyword fields containing wildcards cannot be searched for exactly"
Thank you very much, you have created a really amazing library. 👍🏻

I have come across a special case. I have keyword fields that contain wildcard characters (* or ?). In Elasticsearch this is no problem at all. But it seems luqum has some difficulties with this use case.

Here is an example of indexing a document with a keyword field containing wildcard characters using ES.

[code]

Now I want to

[2022-09-09 13:29] alexgarel commented on #77
see https://github.com/jurismarches/luqum/blob/master/tests/test_visitor.py where you can see basic examples like MROVisitor

[2022-09-29 01:38] cdrini opened #79 "Parse fails on word commas (eg "hi , bye")"
For example:

[code]

Instead of an error, I expect to get:

[code]

[2022-09-29 16:51] alexgarel commented on #79
@cdrini are you sure this is a valid Lucene query ?

[2022-09-30 00:49] cdrini commented on #79
Hi @alexgarel ! Yep, I ran it in my solr instance and it treated it normally. Commas I don't believe are special characters anywhere in lucene; they shouldn't need escaping.

![image](https://user-images.githubusercontent.com/6251786/193166500-1da01785-9e6e-4b7f-ad9b-41be2cd91a2d.png)

[2022-09-30 00:52] cdrini commented on #79
(Btw this package is fantastic! I recently started using it on https://github.com/internetarchive/openlibrary and it's made everything soooo much easier and enabled a whole new class of features that were simply to complicated before! Thank you so much! 😊)

[2022-10-08 18:30] alexgarel commented on #72
Oh sorry @guozizi, yes PLY is not thread safe … see https://github.com/dabeaz/ply/issues/268

[2022-10-08 18:36] alexgarel commented on #72
See also this comment: https://github.com/dabeaz/ply/blob/master/ply/yacc.py#L42

I tried a copy.deepcopy of the parser, but it did not seems to resolve the problem…

[2022-10-08 18:48] alexgarel commented on #72
import _thread

from luqum.parser import parser
from ply import lex

def run():
    qs1 = '(title:"foo bar" AND body:"quick fox") OR title:fox AND (title:"foo bar" AND body:"quick fox") OR ' \
          'title:fox AND (title:"foo bar" AND body:"quick fox") OR title:fox AND (title:"foo bar" AND body:"quick ' \
          'fox") OR title:fox AND (title:"foo bar" AND body:"quick fox") OR title:fox'

[2022-10-08 19:23] alexgarel commented on #77
@thierrydecker if you want to add an example to the documentation, you are really welcome. But for now I will close this issue.

[2022-10-08 19:23] #77 closed

[2022-10-08 19:23] alexgarel commented on #72
@guozizi I added a helper function for that, as I think this might be a quite common scenario. See my request.

[2022-10-08 19:24] alexgarel commented on #72
@mmoriniere I'm not sure you are not running into this in your server.

[2022-10-08 21:37] alexgarel commented on #70
I re-read the [lucene documentation](https://lucene.apache.org/core/2_9_4/queryparsersyntax.html) and indeed Boost can be implicite (defaults to 1).
I implemented it in a PR.

[2022-10-11 07:33] #79 closed

[2022-10-11 07:38] mmoriniere commented on #72
@alexgarel I merged your PR about the thread-safe parse function, so I'm closing this issue.

[2022-10-11 07:38] #72 closed

[2022-10-11 07:39] #78 closed

[2022-10-11 07:39] #70 closed

[2022-10-11 09:17] alexgarel opened #84 "Publish a new release of luqum"
As there was a lot of changes, it's interesting to do a new release

There is a target for that in the makefile, but you should first:
- update CHANGELOG.rst (sorry I forgot to do that in my PRs) by looking at PRs merged since last release
- change version number

@mmoriniere do you want to do it ? I may also do it, I just make me owner of packages :-D

[2022-10-11 09:32] mmoriniere commented on #84
@alexgarel Yes, I wanted to do a 0.12.0 release (and duly noted some updates to the Changelog were needed, as well as a version bump) but I have other priorities at the moment.

You may do it yourself, now that you granted you the right to do so. Otherwise, I would be glad to do it in a couple of days.

[2022-10-12 02:36] guozizi commented on #72
great, thanks @alexgarel

[2022-10-12 07:37] cdrini commented on #79
Woohoo, that was fast ! Awesome, thank you @alexgarel ! And @mmoriniere !

[2022-10-13 14:47] mmoriniere commented on #84
@alexgarel You may want to check everything is alright before I merge and make a new release on PyPI.

[2022-10-14 13:14] #84 closed

[2022-11-30 18:01] cdrini opened #86 "Parser fails at single quote character (eg "hi 'bye'")"
For example:

[code]

Instead of an error, I expect to get:

[code]

`'` Shouldn't need escaping in lucene queries as far as I can tell ( https://lucene.apache.org/core/2_9_4/queryparsersyntax.html )

[2022-11-30 20:00] cdrini opened #87 "Non-decimal boost throws TypeError instead of ParseError (eg "hello^foo")"
For example:

[code]
I would expect to get a `ParseError` or some other type of luqum error that I can catch when parsing a user-entered query